$white:#ffffff;
$primary-color:#FCBD5F;
$seconday-color:#FA4662;
$third-color:#0042e4;

$primary-bgcolor:#23253A;
$secondary-bgcolor:#313550;
$third-bgcolor:#5F9EA0;
$forth-bgcolor: #040510;

/*CTA colors*/
$default-btn: #FA4662;
$primary-btn:#676a6c;
$secondary-btn:#0042e4;

$default-link: #FCBD5F;